<div class="position-fixed text-white w-100" [ngClass]="{'navWrapper': !shrink, 'navSlide': shrink}">
  <nav id="navbar" class="navbar navbar-expand-lg">
    <div class="container">
      <a class="text-white nav-link" id="logo" href="#hero">Fabian Salcedo</a>
      <button class="navbar-toggler text-white navbar-dark" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon text-white"></span>
      </button>
      <div class="collapse navbar-collapse ps-1 ps-md-4" id="navbarSupportedContent">
        <ul id="tendina" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item p-0">
            <a type="button" class="nav-link w-100 h-100 p-3" aria-current="page" href="#about">About</a>
          </li>
          <li class="nav-item p-0">
            <a class="nav-link w-100 h-100 p-3" href="#progetti">Progetti</a>
          </li>
          <li class="nav-item p-0">
            <a class="nav-link w-100 h-100 p-3" href="#skills">Skills</a>
          </li>
          <li class="nav-item p-0">
            <a class="nav-link w-100 h-100 p-3" href="#contatti">Contatti</a>
          </li>
          <li class="nav-item p-0">
            <a class="nav-link w-100 h-100 p-3" href="../../assets/cv/FabianSalcedo-CV.pdf"
              download="FabianSalcedoCV">Download
              CV</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</div>
