<section id="contatti" class="bg pt-5 pb-5">
  <div class="container">
    <h3 class="pb-5"><span style="color: #ad2fab">></span><b>Contatti</b></h3>
    <div class="row justify-content-center">
      <div class="col-10 col-md-6">
        <div class="form-floating mb-3">
          <input type="email" class="form-control" name="formId1" id="formId1" placeholder="" disabled>
          <label for="formId1" class="text-dark">GitHub Pages non</label>
        </div>
        <div class="form-floating mb-3">
          <textarea type="email" class="form-control" name="formId1" id="formId1" placeholder="" style="height: 165px;"
            disabled></textarea>
          <label for="formId1" class="text-dark">mi permette di avere del backend... :(</label>
        </div>
        <button class="btn btn-outline-info" disabled>Invia</button>
      </div>
      <div class="col-10 col-md-6 d-flex justify-content-center align-items-center pt-5 pt-md-0">
        <ul class="list-unstyled d-flex flex-column gap-3">
          <li>
            <span class="d-flex gap-5 fs-6">
              <i class="fa-solid fa-envelope fs-3" style="color: rgb(255, 234, 0);"></i>
              <a class="text-white" href="mailto:fabian.salcedo3@gmail.com">fabian.salcedo3@gmail.com</a>
            </span>
          </li>
          <li>
            <span class="d-flex gap-5 fs-6">
              <i class="fa-brands fa-github fs-3"></i>
              <a class="text-white" href="https://github.com/FabianSalcedo3"
                target="_blank">https://github.com/FabianSalcedo3</a>
            </span>
          </li>
          <li>
            <span class="d-flex gap-5 fs-6">
              <i class="fa-brands fa-linkedin fs-3 text-primary"></i>
              <a class="text-white" href="https://www.linkedin.com/in/fabian-salcedo-a7305124b"
                target="_blank">linkedin.com/in/fabian-salcedo-a7305124b</a>
            </span>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
